1 VERSIONINFO
 FILEVERSION 0,0,1,0
 PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "Command line utiliy for decenc\0"
            VALUE "CompanyName", "JMI.\0"
            VALUE "FileDescription", "PKI helper library\0"
            VALUE "FileVersion", "0.0.1.0\0"
			VALUE "ProductVersion", "1.0.0.0\0"
            VALUE "InternalName", "decenccon\0"
            VALUE "LegalCopyright", "JMI, 2010\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "decenccon.exe\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "\0"
            VALUE "SpecialBuild", "\0"
        END
    END
	BLOCK "VarFileInfo"
	BEGIN
        VALUE "Translation", 0x0405, 1250
    END
END